.squareContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;

    .square {
        background-color: #D9D9D9;
        border: 1px solid black;
        height: 85%;
        width: 85%;
        cursor: pointer;

        &.red {
            background-color: #FF0000;
        }

        &.green {
            background-color: #00FF00;
        }

        &.blue {
            background-color: #0000FF;
        }

        &.yellow {
            background-color: #FFFF00;
        }

        &.purple {
            background-color: #800080;
        }

        &.orange {
            background-color: #FFA500;
        }

        &.brown {
            background-color: #964B00;
        }

        &.gray {
            background-color: #808080;
        }

        &.pink {
            background-color: #FFC0CB;
        }

        &.flash {
            -webkit-animation: flash linear 1.5s infinite;
            animation: flash linear 1.5s infinite;
        }
    }
}

@-webkit-keyframes flash {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes flash {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
